<div class="body">
  <div class="center">
    <h1>Login</h1>
    <form action="/signin" method="post" autocomplete="off">
      <div class="txt_field">
      <input type="text" name="mail" autocomplete="off" required>
        <span></span>
        <label>Mail</label>
      </div>
      <div class="txt_field" autocomplete="off">
      <input type="password" name="password" autocomplete="off" required>
        <span></span>
        <label>Password</label>
      </div>
      <input class="ssubmit" type="submit" value="Login">
      <div class="signup_link">
        Not signed up? <a href="/signup">Signup</a>
      </div>
    </form>
  </div>
</div>